<?php
$count = 0;
$block = $this;
$costs = $block->listInsuranceCosts();
?>
<style>
    label1 {
        padding: 8px;
    }

    label1 {
        background-color: #f4f4f4;
        display: inline-block;
        width: auto;
        max-width: none;
        min-width: 250px;
        float: none;
        padding: 6px 10px 6px 15px;
    }

    p1 {
        padding: 5px;
    }

    label1:hover {
        background-color: #ddd;
    }
</style>

<div class="itransition-shipping-insurance">
    <?php if ($block->isFeatureEnabled() && 0 < count($costs)): ?>
        <div class="cost" id="cost" style="display: none">
            <br>
            <h3>Do you want to add shipping insurance?</h3>
            <label1 for="shippinginsurance_enabled">
                <input type="checkbox" id="shippinginsurance_enabled" name="shippinginsurance_enabled" value="1"">
                <p1>Yes</p1>
            </label1>
            <h3>It will be cost:</h3>
            <?php foreach ($costs as $provider => $cost): ?>
                <div class="insurance_cost" id="<?php echo $provider ?>" style="display: none">
                    <?php echo $cost . ' for ' . $provider; ?>
                </div>
            <?php endforeach; ?>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function (evenst) {
                document.getElementById('co-shipping-method-form').addEventListener('click', function (event) {
                    if (event.target.name == 'shipping_method') {
                        var abc = event.target.closest('dd').previousElementSibling.innerHTML;
                        var elems = document.getElementsByClassName('insurance_cost');
                        document.getElementById('cost').style.display = '';
                        for (var i = 0; i != elems.length; ++i) {
                            elems[i].style.display = "none";
                        }
                        document.getElementById(abc).style.display = "";
                    }
                })
                ;
            })
            ;
        </script>
    <?php endif; ?>
</div>
